body {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    margin: 0.1em;
}

h2 {
    font-size: 22px;
    font-weight: normal;
}


#search,
#speak,
#word-input {
    margin: 0.2em 0em;
    font-weight: 600;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: rgb(230, 230, 230);
    padding: 5px 15px;
}

#word-input {
    padding: 5px;
}

.results {
    padding: 0.5em;
    font-size: 22px;
    min-height: 3.5rem;
}

#lang-selection {
    display: flex;
    padding: 1em;
}